#content{
    width: 70%;
    background-color: #F0F8FF;
    border-radius: 0.8em;
    padding: 1em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding-left: 0.5em;
}

#content h2{
    font-size: 1.8em;
    background-color: #B0C4DE;
    border-radius: 0.8em;
    padding: 0.5em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

#content h3{
    background-color: #B0C4DE;
    border-radius: 0.8em;
    padding: 0.5em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

#content a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 8em;
}

#content a:hover{
    background-color: #B0C4DE;
    width: auto;
}