#foot{
    display: flex;
    margin-top: 1em;
    font-size: 0.8em;
    background-color: #B0C4DE;
    border-radius: 0.8em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

#footleft{
    margin-left: 40%;
}

#footright{
    margin-left: 10px;
    padding-top: 10px;
}

#footbelow{
    text-align: center;
    font-size: 0.6em;
}