body
{
    font-family: Verdana;
    background-color: #F5FFFA;
    color: black;
}

.head
{
    font-size: 1.2em;
    background-color: #F0F8FF;
    border-radius: 0.8em;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    text-align: right;
}

.main
{
    display: flex;
}

.menu
{
    width: 15em;;
    background-color: #B0C4DE;
    border-radius: 0.8em;
    margin-right: 1em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.menu a
{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 4px 4px 4px 1em;
    text-align: left;
}

.menu a:hover
{
    background-color: #F0F8FF;
    padding-left: 4em;
    
}

.content
{
    width: 70%;
    background-color: #F0F8FF;
    border-radius: 0.8em;
    padding: 1em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.content h2
{
    font-size: 1.8em;
    background-color: #B0C4DE;
    border-radius: 0.8em;
    padding: 0.5em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.content h3
{
    background-color: #B0C4DE;
    border-radius: 0.8em;
    padding: 0.5em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.content p
{
    padding-left: 0.5em;
}

.content a
{
    color: black;
    text-decoration: none;
    /*display: block;*/
    padding: 0.5em;
    border-radius: 8em;
}

.content a:hover
{
    background-color: #B0C4DE;
    width: auto;
}

.foot
{
    text-align: center;
    font-size: 0.8em;
}

.cv
{
    display: flex;
    justify-content: center;
}

.chronicle
{
    width: 50%;
    margin-right: 1em;
}

.skills
{
    margin-left: 1em;
}

.cvfoot
{
    font-size: 0.8em;
    text-align: center;
}
